{
    "presets": ["next/babel"],
    "plugins": [
      ["styled-components", { "ssr": true }],
      [
        "module-resolver",
        {
          "alias": {
            "@app": "./app",
            "@libs/*": "./app/libs/*"
          }
        }
      ]
    ]
  }
